body {
  margin: 0;
}

.header {
  background: #f8f8f8;
  text-align: center;
  padding: 2em 0;
}

.logo {
  line-height: 10px;
}

.large {
  font-family: "Lora", serif;
  font-size: 2rem;
  color: #143774;
  font-weight: normal;
}

.small {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 0.75rem;
  color: #1792d2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2em;
}

.lista {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.lista li a {
  color: #707070;
  text-decoration: none;
  cursor: pointer;
  margin: 0 1em;
}

.lista li a:hover,
.lista li a:focus {
  color: #1792d2;
  border-bottom: 1.5px solid #1792d2;
  outline: none;
}
